body{
    
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 0;
    z-index: 0;
    transition: 0.5s;
    background-image: url("https://pitchk.github.io/models/bg.svg");
    background-size: 5px 5px;
    
}

#content{
    
    width: 80%;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    
}


.canvasHolder{
    width: 10%;
    height: 2000px;
    border: 1px solid black;
}

#entireBody{
    display: flex;
}

#text{
    margin:0;
    font-size: 250%;
    padding: 5%;
}

#icon{
    font-weight: bold;
    font-size: 200%;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 12%;
    color: purple;
}

#header{
    display: block;
    display: flex;
    border-bottom: 3px solid grey;
    margin-bottom: 0;
    background-color: white;
}

#innerNavigation{
    display: flex;

    margin-left: 18%;
    width: 100%;
    margin-right: 9%;
}

.links{
    color: black;
    text-decoration: none;
    width: auto;
    text-align: center;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 150%;
  
    transition:0.5s;
}
.links:hover{
    color: white;
    background-color: #ffb700;
    
    transition: 0.5s;
}

#title{
    text-align: center;
    font-size: 250%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#subtitle{
    text-align: center;
    opacity: 0.9;
    font-size: 150%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}

#mobileHeader{
    display: none;
}

#mobileHeaderOpen{
    display: none;
}/*stop here!*/

#select{
    display: flex;
    margin-left: 60%;

    font-size: 135%;
    
}

.emptyChoice{
    height: 30px;
    width: 30px;
    border: 2px solid orange;
    margin-left: 3.5%;
}

.choiceContent{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
}

#sortBy{
    margin-top: auto;
    margin-bottom: auto;
}

#line{
    margin-left: 10%;
    margin-right: 10%;
}

.outer{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
}

.image{
    width: 30%;
}

.modelTitle{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 175%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.subtitle{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 120%;
    opacity: 0.8;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 55px;
}

.innerDiv{
    width: 70%;
}

.difficultyDiv{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.difficultyDisplay{
    
    width: 35%;
    background-color: lightgray;
    font-size: 110%;
    padding-left: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 50px;
}

.difficultyWord{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 110%;
}

.time{
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.8;
    font-size: 110%;
    margin-left: 1%;
}

.bottomLinks{
    margin-left: 5%;
    color: #3480eb;
    
    font-size: 135%;
}

#filter{
    background-color: orange;
    color: white;
    font-size: 125%;
    margin-left: 75%;
    margin-right: 10%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

@media only screen and (orientation: portrait){
    #content{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    #mobileHeader{
        display: block;
        display: flex;
        border-bottom: 2px solid purple;
        /*position: fixed;*/
        position: fixed;
        background-color: white;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        z-index: 3;
        top: 0;
    }

    #header{
        display: none;
    }

    #menu{
        font-size: 175%;
        margin-left: 4%;
       
        margin-top: 0;
        color: purple;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        
        transition: 0.7s;
    }

    #menu:hover{
        
        color: purple;
        background-color:whitesmoke;
        transition: 0.7s;
        cursor: pointer;
    }

    #icon{
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 2%;
        font-size: 150%;
    }

    #mobileHeaderOpen{
        display: block;
        background-color:  #ffb700;
        box-sizing: border-box;
        border-right: 4px solid white;
        border-left: 4px solid white;
        position: absolute;
        z-index: 2;
        margin-left: 0;
        margin-right: 0;
        width: 100%;

        display: none;
        position: fixed;
        margin-top: 10%;
    }

    .mobileLinks{
        font-size: 125%;
        padding: 5%;
        color: white;
        text-decoration: none;
    }
    .headerLinkHolder{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .headerLinkHolder:hover{
        background-color: purple;
    }

    .mobileLinks:hover{
        text-decoration: underline;
        font-weight: bold;
    }

    #mobileMenu{
        font-size: 150%;
        text-decoration: underline;
        margin-top: 1%;
        margin-bottom: 1%;
        padding-left: 5%;
        padding-bottom: 1%;
        
    }

}